
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;background-color: #bfefff;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  padding-top: 30px;
  max-width: 1600px;
  position: relative;
  margin: auto;
  padding-top: 10px;
}



/* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
p#images{
  text-align: center;
}
.container {
  position: relative;
  width: 33.33%;
  height: 300px;
  padding: 10px;
  padding-bottom: 10px;
  float: left;

}

.image {
  display: block;
  width: 100%;
  height: 400px;
  padding: 25px;
}

.overlay {
  position: absolute;
  bottom: 5px;
  top: 0;
  left: 0;
  right: 0;
  background-color: darkblue;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.container:hover .overlay {
  bottom: 5px;

  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
nav{
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
    background:darkblue;
}

nav .navigation{
    padding:9px 20px;
    height:80px;
    float:left;
    font-size:42px;
    transition: .3s;
    color: ghostwhite;
    word-spacing: 25px;
}
nav ul {
    list-style: none;
    float: right;
    margin:0;
    padding: 0;
    display:flex;
}

nav ul li {
    list-style: none;
}
nav ul li a{
    line-height:65px;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 22px;
    color: antiquewhite;
}
nav ul li a:hover{
    color: red;
}

nav ul li a.log{
    background: red;
    color:white;
    border-radius: 6px;
}
nav ul li a:hover{
    color: dodgerblue;
}

